@font-face {
  font-family: "Quentin";
  src: url("../fonts/Quentin.otf") format("truetype"), url("../fonts/quentin.woff2") format("woff2"), url("../fonts/quentin.woff") format("woff");
}

@font-face {
  font-family: "Denmark";
  src: url("../fonts/Denmark.woff") format("woff");
}

@font-face {
  font-family: "Schnyder";
  src: url("../fonts/schnyders-demi-web.woff") format("woff");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Cormorant", serif;
  font-size: 1.7rem;
  line-height: 1.6;
  overflow-x: hidden;
  color: #2d2d2b;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #c9886d;
}

ul {
  list-style-type: none;
}

ul a {
  color: #2d2d2b;
}

h2,
h1 {
  font-family: "Schnyder", serif;
  font-size: 3.3rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.2;
}

h3 {
  font-family: "Denmark";
  font-size: 3.7rem;
  font-weight: 300;
}

.button-style {
  display: block;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: #855743;
  /*#463938*/
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-style:hover {
  background-color: #c9886d;
  color: #fff;
}

.text-style {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.7;
  color: #2d2d2d;
}

.text-serif-style {
  font-size: 2.9rem;
  font-family: "Schnyder";
  text-transform: none;
  font-weight: 500;
  color: #2d2d2b;
}

.text-uppercase-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  margin-bottom: 5px;
  text-align: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-style {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-img-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #170b067d;
}

.lock-body-overflow {
  overflow: hidden;
}

header {
  z-index: 20;
  /* should add position fixed in JS */
}

.nav__container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px;
}

.nav__container-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 17px;
  right: 0;
  z-index: 10;
  background-color: #fff;
  z-index: 50;
}

.nav__container-social a {
  display: block;
  padding: 10px 6px;
  padding-bottom: 4px;
  position: relative;
}

.nav__container-social svg {
  width: 25px;
  fill: #855743;
}

.nav__container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.nav__container-list-item:nth-of-type(3) {
  display: block;
  width: 350px;
  height: 0;
  z-index: 20;
}

.nav__container .rel-item {
  position: relative;
}

.nav__container .rel-item:hover > .dropdown-list {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: all;
}

.nav__container .rel-item .dropdown-list {
  display: block;
  position: absolute;
  background-color: #ecd7a8;
  z-index: 10;
  pointer-events: none;
}

.nav__container .rel-item .dropdown-list a {
  display: block;
  padding: 10px 30px 10px 10px;
  width: 100%;
}

.nav__container .rel-item .dropdown-list a:hover {
  color: #fff;
  background-color: #6a4531;
}

.nav__container .rel-item .dropdown-list li {
  display: block;
  width: 150px;
}

.nav__container .flex-item {
  display: none;
}

.nav__container-menu {
  position: absolute;
  top: 145px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
  cursor: pointer;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
}

.nav__container-menu-mobile {
  display: none;
  overflow-y: scroll;
  height: 100vh;
}

.nav__container-menu-mobile ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 220px;
}

.nav__container-menu-mobile ul a {
  display: block;
  width: 100%;
}

.nav__container-menu-mobile li {
  position: relative;
  top: 0px;
  display: block;
  padding-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #2d2d2b;
}

.nav__container-menu-mobile li a {
  color: #2d2d2b;
}

.nav__container-menu-mobile .mobile-item ul {
  position: static;
  display: none;
}

.nav__container-menu-mobile .mobile-item ul li {
  left: 30px;
  text-align: left;
  padding-bottom: 10px;
}

.nav__container-menu-mobile .mobile-item ul li:last-of-type {
  padding-bottom: 0;
}

.nav__container-menu .line {
  width: 27px;
  height: 2px;
  background-color: #6c6c6c;
}

.show {
  display: block !important;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: all;
}

.show-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-img {
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 270px;
  height: 270px;
  z-index: 11;
}

.show-fixed {
  position: fixed;
}

.main__section-container {
  margin-top: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  max-width: 1100px;
  overflow: hidden;
}

.main__section-container-box {
  position: relative;
  width: 33%;
  height: 200px;
}

.main__section-container-box-text, .main__section-container-box-heading {
  display: none;
}

.main__section-container-box-text a, .main__section-container-box-heading a {
  color: #fff;
}

.main__section-container-box-text a:hover, .main__section-container-box-heading a:hover {
  color: #c9886d;
}

.main__section-container-box:nth-of-type(2) {
  height: 230px;
}

.main__section-container-box-heading {
  font-family: "Cormorant", serif;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.1rem;
  text-align: center;
}

.main__section-container-img {
  position: absolute;
  top: 0;
  left: 0;
}

.main__section-container-img:nth-last-of-type(1) {
  -webkit-animation: 8s fadeInOut linear infinite;
          animation: 8s fadeInOut linear infinite;
}

.main__section-box {
  position: relative;
  margin-top: 30px;
  padding: 40px 20px;
  width: 85vw;
  max-width: 540px;
  background-color: #e3d6c7;
}

.main__section-box::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  bottom: 8px;
  right: 8px;
  border: 1px solid #fff;
}

.main__section-box-text {
  text-align: center;
  max-width: 300px;
}

.main__section-box-link {
  margin: 30px auto 0 auto;
}

.about__section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 30px;
  z-index: 0;
}

.about__section span {
  font-weight: 700;
}

.about__section-container {
  margin: 0 auto;
  padding: 0 20px;
}

.about__section-container-photo {
  position: relative;
  width: 80vw;
  height: 300px;
  max-width: 320px;
  z-index: 0;
}

.about__section-container-photo img {
  -o-object-position: 60% 10%;
     object-position: 60% 10%;
  opacity: 0.9;
  border: 3px solid #fff;
}

.about__section-container-heading {
  margin-bottom: 40px;
  letter-spacing: 0.1rem;
  font-weight: 300;
  text-align: center;
}

.about__section-container-text {
  padding: 0 10px;
  margin-top: 30px;
  width: 80vw;
  max-width: 320px;
}

.about__section-container-text h3 {
  text-align: center;
  margin-bottom: 10px;
}

.about__section-container-text p:first-of-type {
  margin-bottom: 10px;
}

.about__section-container-text .text-two {
  margin-top: 10px;
}

.about__section-bottom {
  margin: 30px auto 30px auto;
  padding: 0 10px;
  width: 80vw;
  max-width: 320px;
  letter-spacing: 0.1rem;
}

.about__section-bottom p {
  margin-bottom: 20px;
  font-family: "Schnyder";
  color: #6a4531;
}

.about__section-bottom span {
  font-style: italic;
  text-decoration: underline;
}

.about__section-bottom .button-style {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.section-line {
  position: absolute;
  top: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0.3px;
  height: 110px;
  background-color: #2d2d2b;
  z-index: 6;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.offer__section {
  margin: 0 10px 30px 10px;
  padding: 50px 20px;
  z-index: 0;
}

.offer__section-heading {
  text-align: center;
  margin-bottom: 20px;
}

.offer__section-description {
  max-width: 450px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.offer__section-description p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  text-align: center;
  color: #6a4531;
  color: #855743;
}

.offer__section-image {
  position: relative;
  height: 260px;
}

.offer__section-image:hover .offer-text {
  background-color: #c9886d;
}

.offer__section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__section-container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  max-width: 255px;
  margin-bottom: 60px;
  z-index: 0;
}

.offer__section-container-box-link {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.offer__section-container-box-link:hover {
  opacity: 0.6;
}

.offer__section-container-box .offer-link {
  width: 100%;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
}

.offer__section-container-box .offer-text {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -25px;
  width: 85%;
  text-align: center;
  padding: 20px;
  background-color: #6a4531;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.offer__section-container-box .offer-text::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
  right: 4px;
  border: 1px solid #fff;
  pointer-events: none;
}

.offer__section-container-box .offer-text:hover {
  background-color: #c9886d;
}

.offer__section-container p {
  margin-top: 50px;
  font-family: "Schnyder", serif;
  letter-spacing: 0.1rem;
  z-index: 10;
  text-align: center;
  color: #6a4531;
  line-height: 1.4;
  font-size: 2rem;
}

.opinion__section {
  padding: 40px 0 70px 0;
  background-color: #eae5e1;
}

.opinion__section-header {
  position: relative;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.opinion__section-header::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -30px;
  height: 1px;
  background-color: #2d2d2b;
  width: 80%;
}

.opinion__section-header .opinion-quote {
  display: none;
}

.opinion__section-container {
  padding: 30px 20px;
}

.opinion__section .slide-arrow {
  position: absolute;
  bottom: -30px;
  padding: 10px;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  z-index: 1;
  color: #855743;
}

.opinion__section-box-text {
  text-align: center;
  margin: 30px auto;
  font-weight: 400;
  font-style: italic;
  font-size: 2.1rem;
}

.opinion__section-box-signature {
  text-align: center;
}

/*MAP SECTION*/
.map__section {
  padding: 80px 20px;
}

.map__section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.map__section-text {
  margin: 0 auto;
  width: 80vw;
  max-width: 450px;
  margin-bottom: 50px;
}

.map__section-text span {
  font-weight: 600;
  text-decoration: underline;
}

.map__section-text p {
  text-align: justify;
  font-weight: 500;
}

.map__section-container {
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map__section-container p,
.map__section-container a {
  color: #2d2d2b;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.9;
}

.map__section-container a:hover {
  color: #c9886d;
}

.map__section-container a:hover svg {
  -webkit-filter: invert(60%) sepia(19%) saturate(861%) hue-rotate(332deg) brightness(94%) contrast(91%);
          filter: invert(60%) sepia(19%) saturate(861%) hue-rotate(332deg) brightness(94%) contrast(91%);
}

.map__section-container-left {
  margin-bottom: 30px;
}

.map__section-container-left .text-uppercase-style {
  margin-bottom: 20px;
}

.map__section-container-left svg {
  width: 25px;
  vertical-align: middle;
  margin-right: 7px;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.map__section-container-left .mail-icon {
  height: 30px;
}

.map__section-container-left p:nth-of-type(3) {
  margin-bottom: 20px;
}

.map__section-container-right {
  width: 100%;
  margin: 0 auto;
}

.map__section-container-right iframe {
  border: 1px solid #2b2b2b;
  width: 100%;
  height: 300px;
}

.contact__section {
  padding: 30px 0;
  position: relative;
  background-color: #fbf5f4;
}

.contact__section img,
.contact__section video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.contact__section video {
  display: none;
}

.contact__section-container {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  z-index: 3;
}

.contact__section-container-form {
  padding: 35px 10px;
  width: 90vw;
  max-width: 600px;
}

.contact__section-container-form .flex-column {
  width: 100%;
}

.contact__section-container-form h2 {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.contact__section-container-form p {
  width: auto;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 500;
  line-height: 1.8;
}

.contact__section-container-form input,
.contact__section-container-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.contact__section-container-form textarea {
  resize: none;
  max-height: 200px;
}

.contact__section-container-form button {
  width: 50%;
  background-color: #dcc8be;
  border: transparent;
  color: #2d2d2b;
  font-weight: bold;
}

.contact__section-container-form .accept-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.contact__section-container-form .accept-box label {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #fff;
}

.contact__section-container-form .accept-box #accept-field {
  width: auto;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-right: 10px;
}

/*FOOTER*/
.show-footer {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: 10;
}

.footer {
  padding: 15px;
  background-color: #856a5d;
  -webkit-transition: bottom 0.2s ease-in-out;
  transition: bottom 0.2s ease-in-out;
}

.footer a,
.footer p,
.footer span {
  color: #fff;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.footer a:hover {
  color: #2d2d2b;
  text-decoration: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container-policy span {
  margin: 0 5px;
}

.footer__container-copyrights a {
  display: block;
  margin-top: 10px;
}

.footer__container-top-link {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 2.3rem;
  text-transform: lowercase;
  font-family: "Quentin";
}

.footer__container-top-link:hover .to-top {
  fill: #2d2d2b;
}

.footer__container-top-link .to-top {
  position: relative;
  top: 5px;
  width: 20px;
  fill: white;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.footer__container-text {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

.footer__container-text svg {
  position: relative;
  top: -3px;
  width: 21px;
  fill: #fff;
  vertical-align: middle;
  margin-right: 5px;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.footer__container-text svg:hover {
  fill: #2d2d2b;
}

.offer__price .handwritten {
  font-family: "Denmark";
  font-size: 3.5rem;
  font-weight: 300;
  color: #2d2d2b;
}

.offer__one {
  padding: 80px 0 100px 0;
  margin-top: 150px;
  background-color: #e3d6c7;
}

.offer__one span {
  font-weight: 600;
  font-style: italic;
}

.offer__one h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #855743;
}

.offer__one-container {
  position: relative;
  margin: 0 auto;
  width: 80vw;
}

.offer__one-container-left {
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 700px;
}

.offer__one-container-left p {
  text-align: center;
  margin-bottom: 10px;
}

.offer__one-container-left .price-link {
  color: #855743;
  text-decoration: underline;
}

.offer__one-container-left a.button-style {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.offer__one-container-right {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90vw;
  max-width: 1000px;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eee7e2;
}

.offer__one-container-right .right {
  width: 80%;
  max-width: 500px;
}

.offer__one-container-right .left {
  margin-bottom: 100px;
  padding: 0 30px;
}

.offer__one-container-right .left .text-uppercase-style {
  position: relative;
}

.offer__one-container-right .left .text-uppercase-style::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -50px;
  height: 1px;
  background-color: #2d2d2b;
  width: 150px;
}

.offer__one-container-right h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  color: #c9886d;
  letter-spacing: 0.3rem;
  line-height: 1.5;
}

.offer__one-container-right-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.offer__one-container-right-desc:last-of-type {
  margin-bottom: 0;
}

.offer__one-container-right-desc p {
  text-align: left;
}

.offer__one-container-right-desc img {
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 10px;
  width: 35px;
  height: auto;
}

.offer__price {
  padding: 80px 0;
  background-color: #eee7e2;
}

.offer__price .text-uppercase-style {
  max-width: 450px;
  margin: 0 auto;
}

.offer__price-container {
  position: relative;
  margin: 0 auto;
  width: 80vw;
  max-width: 700px;
}

.offer__price-container-menu {
  width: 100%;
  margin-bottom: 30px;
}

.offer__price-container-menu p {
  margin-bottom: 10px;
  font-family: "Denmark", sans-serif;
  font-size: 2.3rem;
}

.offer__price-container-menu a {
  color: #855743;
  font-size: 1.8rem;
}

.offer__price-container-menu a:hover {
  text-decoration: underline;
}

.offer__price-container-title {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.offer__price-container-text {
  margin: 0 auto;
  margin-bottom: 100px;
}

.offer__price-container-text h3 {
  font-family: "Schnyder", serif;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #855743;
}

.offer__price-container-text p:first-of-type,
.offer__price-container-text p:nth-of-type(2) {
  margin-bottom: 50px;
}

.offer__price-container-table {
  width: 90vw;
  max-width: 400px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.offer__price-container-table h3 {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.offer__price-container-table h3::after, .offer__price-container-table h3::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
  height: 0.7px;
  background-color: #2d2d2b;
}

.offer__price-container-table h3::before {
  left: 0;
}

.offer__price-container-table h3::after {
  right: 0;
}

.offer__price-container-table table {
  margin: 0 auto;
  border-collapse: collapse;
}

.offer__price-container-table table thead tr th {
  font-size: 1.8rem;
  padding: 10px;
}

.offer__price-container-table table tbody tr td {
  padding: 10px;
}

.offer__price-container-table table tr {
  text-align: center;
}

.offer__price-container-table table table,
.offer__price-container-table table th,
.offer__price-container-table table td {
  border: 1px solid #bda399;
  border-collapse: collapse;
}

.offer__price .button-style {
  margin: 0 auto;
  margin-top: 80px;
}

.section__gallery {
  margin: 0 auto;
  padding: 80px 0;
  width: 80vw;
}

.section__gallery h1 {
  font-family: "Denmark";
  text-align: center;
  margin-bottom: 20px;
}

.section__gallery h2 {
  text-align: center;
  margin-bottom: 80px;
  color: #855743;
}

.section__gallery-container {
  margin: 0 auto;
  max-width: 1000px;
}

.section__gallery-container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__gallery-container a {
  display: block;
  position: relative;
  width: 80vw;
  height: 80vw;
  max-width: 300px;
  max-height: 300px;
  margin: 7px;
}

.section__gallery-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.section__gallery-container img:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  opacity: 0.9;
}

.offer__price-container-box {
  margin-bottom: 60px;
}

.offer__price .handwritten {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 300px;
  text-align: center;
  margin-bottom: 50px;
}

.offer__price .handwritten::after, .offer__price .handwritten::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 0.7px;
  background-color: #2d2d2b;
}

.offer__price .handwritten::before {
  left: 0;
}

.offer__price .handwritten::after {
  right: 0;
}

.offer__price h2 {
  text-align: center;
  color: #855743;
  margin-bottom: 10px;
}

.offer__price .text-uppercase-style {
  margin-bottom: 40px;
  font-size: 1.2rem;
}

.offer__price ol li {
  list-style-position: inside;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.offer__price .box-price {
  position: relative;
  color: #995c41;
  text-align: right;
  margin-bottom: 30px;
}

.offer__price .box-price::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 0.7px;
  background-color: #2d2d2b;
}

.offer__price .order-style {
  margin-top: 40px;
  margin-right: 0;
  padding: 0.7em;
  max-width: 200px;
  padding-top: 10px;
}

.offer__price-candy {
  padding: 100px 20px;
  width: 90vw;
  background-color: #e3d6c7;
}

.offer__price-candy .right p {
  margin-bottom: 0;
}

.offer__price-container-text p:nth-of-type(1) {
  margin-bottom: 10px;
}

.offer__price-container-text p:nth-of-type(2) {
  margin-bottom: 10px;
}

.offer__price-container-text .candy-price {
  margin-top: 50px;
  max-width: initial;
  text-align: left;
}

.offer__candy-list {
  list-style-type: square;
}

.offer__candy-list li {
  list-style-position: inside;
}

.offer__candy-list li::marker {
  color: #855743;
}

.offer__candy .last-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 375px) {
  .header__logo-img {
    width: 300px;
    height: 300px;
  }
  .nav__container-menu {
    top: 165px;
  }
  .offer__one, .main__section-container {
    margin-top: 165px;
  }
  .main__section-container-box {
    height: 250px;
  }
  .main__section-container-box li {
    font-size: 2.1rem;
  }
  .main__section-container-box-heading {
    font-size: 2.4rem;
  }
  .main__section-container-box:nth-of-type(2) {
    height: 270px;
  }
  .opinion__section .slick-prev {
    left: -10px;
  }
  .opinion__section .slick-next {
    right: -10px;
  }
  .opinion__section-container {
    width: 85vw;
    margin: 0 auto;
    padding: 30px 25px;
  }
}

@media screen and (min-width: 414px) {
  .main__section-container-box {
    height: 300px;
  }
  .main__section-container-box li {
    font-size: 2.3rem;
  }
  .main__section-container-box-heading {
    font-size: 2.7rem;
  }
  .main__section-container-box:nth-of-type(2) {
    height: 320px;
  }
}

@media screen and (min-width: 576px) {
  .main__section-container-box {
    height: 380px;
  }
  .main__section-container-box:nth-of-type(2) {
    height: 400px;
  }
  .section__gallery-container-img {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .handwritten {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  .nav__container .flex-item {
    display: block;
    position: relative;
    top: 60px;
    font-size: 1.7rem;
    font-weight: 500;
  }
  .nav__container-list .home-item {
    left: 0;
  }
  .nav__container-list .offer-item {
    right: 0;
    width: auto;
  }
  .nav__container-list .offer-item .dropdown-list {
    left: -63px;
  }
  .nav__container-menu {
    display: none;
  }
  .header__logo-img {
    width: 350px;
    height: 350px;
    top: -85px;
  }
  .main__section-container {
    margin-top: 130px;
  }
  .main__section-container-box {
    position: relative;
    height: 480px;
  }
  .main__section-container-box-text, .main__section-container-box-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
  }
  .main__section-container-box-text li, .main__section-container-box-heading li {
    text-align: center;
    color: #fff;
    font-family: "Cormorant", serif;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .main__section-container-box-heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
  }
  .main__section-container-box:nth-of-type(2) {
    height: 500px;
  }
  .main__section-box {
    top: -60px;
  }
  .main__section-box .text-serif-style {
    font-size: 2.4rem;
  }
  .about__section {
    padding-bottom: 50px;
  }
  .about__section-background {
    left: 20px;
    right: 20px;
  }
  .about__section-container {
    position: relative;
    padding-top: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 740px;
  }
  .about__section-container-photo {
    height: 480px;
    max-width: 350px;
  }
  .about__section-container-text {
    margin-top: 0;
    max-width: 330px;
  }
  .about__section-container-text h3 {
    position: absolute;
    top: -21px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 4rem;
  }
  .about__section-container-text .text-frame {
    position: absolute;
    border-left: transparent;
    background-color: #fff;
    top: -95px;
    left: -90px;
    right: -40px;
    bottom: -95px;
    z-index: -1;
  }
  .about__section-bottom {
    max-width: 700px;
    text-align: center;
    margin-top: 50px;
  }
  .offer__section {
    padding-top: 70px;
    background-color: #eae5e1;
    margin: 40px 20px;
  }
  .offer__section .section-line {
    top: -90px;
  }
  .offer__section-description p {
    font-family: "Schnyder", serif;
    font-weight: 600;
    font-size: 3rem;
    color: #c9886d;
    letter-spacing: 0.3rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
  }
  .offer__section-container {
    width: 650px;
  }
  .offer__section-container-box .offer-text {
    width: 80%;
  }
  .opinion__section {
    overflow: hidden;
  }
  .opinion__section-container {
    width: 85vw;
  }
  .opinion__section-header .opinion-quote {
    bottom: -50%;
    left: 10%;
    width: 50px;
    height: 50px;
    fill: #dcc8be;
    z-index: 10;
  }
  .opinion__section-box-text {
    max-width: 600px;
    font-size: 2.4rem;
  }
  .opinion__section .slick-prev {
    left: -40px;
  }
  .opinion__section .slick-next {
    right: -40px;
  }
  .contact__section image {
    display: none;
  }
  .contact__section video {
    display: block;
  }
  /*map*/
  .map__section-text {
    margin-bottom: 80px;
  }
  .map__section-container {
    width: 90vw;
    max-width: 1000px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map__section-container-left {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 30%;
  }
  .map__section-container-left h3 {
    text-align: left;
  }
  .map__section-container-right {
    width: 70%;
    max-width: 600px;
  }
  .map__section-container-right iframe {
    width: 100%;
    height: 300px;
  }
  .footer__container {
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__container-top {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__container-text {
    font-weight: 300;
    font-size: 1rem;
  }
  .footer__container-top-link {
    margin-bottom: 0;
    cursor: pointer;
  }
  .footer__container-policy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__container-copyrights {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__container-copyrights p {
    padding-top: 0;
  }
  .footer__container-copyrights a {
    margin-top: 0;
    font-size: 1.1rem;
  }
  .section__gallery-container-box a {
    width: 50%;
    overflow: hidden;
  }
  /*TORTY*/
  .offer__one {
    margin-top: 130px;
  }
  .offer__one h2 {
    max-width: 580px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .offer__one p {
    text-align: center;
  }
  .offer__one-container-right p {
    text-align: justify;
  }
  .offer__one-container-right .text-uppercase-style {
    text-align: center;
  }
  table th {
    width: 160px;
  }
  /*CANDY */
  .offer__candy-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100px;
  }
}

/*CIASTA*/
.offer__cookies {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  .main__section-container-box {
    height: 560px;
  }
  .main__section-container-box:nth-of-type(2) {
    height: 590px;
  }
  .about__section-background .frame-one {
    position: absolute;
    top: -90px;
    left: -90px;
    display: block;
    width: 200px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    fill: #d0a098;
  }
  .about__section-background .frame-two {
    position: absolute;
    bottom: -90px;
    right: -90px;
    display: block;
    width: 200px;
    fill: #d0a098;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .offer__section-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 900px;
  }
  .offer__section-container-box {
    max-width: 270px;
  }
  .opinion__section-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 30px 60px;
    max-width: 1000px;
  }
  .opinion__section .slick-prev {
    left: 0;
  }
  .opinion__section .slick-next {
    right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 4rem;
  }
  .text-style {
    font-size: 1.8rem;
  }
  .text-uppercase-style {
    font-size: 1.4rem;
  }
  .nav__container-list .offer-item .dropdown-list {
    left: auto;
  }
  .main__section-container-box {
    height: 580px;
  }
  .main__section-container-box:nth-of-type(2) {
    height: 620px;
  }
  .about__section-container {
    width: 840px;
  }
  .about__section-container-photo {
    height: 500px;
    max-width: 390px;
  }
  .about__section-container h3 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-align: left;
  }
  .about__section-container-text {
    max-width: 360px;
  }
  .about__section-container-text .text-frame {
    top: -145px;
    left: -200px;
    right: -40px;
    bottom: -145px;
  }
  .offer__section-container {
    width: 1000px;
  }
  .offer__section-container-box {
    height: 440px;
  }
  /*torty*/
  .offer__cake {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    max-width: 1200px;
  }
  .offer__price-container-text {
    width: 40%;
    margin-bottom: 0;
  }
  .offer__price-container-table {
    width: 40%;
    left: auto;
    -webkit-transform: none;
            transform: none;
  }
  .offer__price-container-box {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 730px;
  }
  .offer__one h2 {
    font-size: 4rem;
  }
  .offer__one-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .offer__one-right .right {
    width: 40%;
  }
  .offer__price-candy .offer__price-container-text {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */