@media screen and (min-width: 992px) {
  a.nav__link {
    font-size: 2rem;
  }

  h1,
  h2 {
    font-size: 3.7rem;
    font-weight: 500;
  }

  .text-uppercase-style {
    font-size: 1.5rem;
  }

  .main__section {
    &-container {
      &-box {
        height: 560px;
      }
      &-box:nth-of-type(2) {
        height: 590px;
      }
    }
  }

  .about__section {
    &-bottom {
      .text-style {
        font-size: 2rem;
      }
    }
  }

  .offer__section {
    &-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 800px;
      &-box {
        width: 50%;
        max-width: 380px;

        img {
          height: 300px;
        }
      }
    }
  }

  .opinion__section {
    &-container {
      flex-direction: row;
      justify-content: space-around;
      padding: 30px 60px;
      max-width: 1000px;
    }

    &-box-text {
      font-size: 2.8rem;
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0px;
    }
  }

  .map__section,
  .about__section,
  .offer__price {
    position: relative;

    &::before {
      position: absolute;
      content: url("../img/ciasta/cookies.png");
      z-index: 0;
      width: 80px;
      height: auto;
    }
  }

  .map__section::before,
  .offer__price::before {
    left: 11%;
    // transform: rotate(45deg);
  }
  .about__section::before {
    bottom: 8%;
    right: 7%;
    transform: rotate(-90deg);
  }

  .offer__xmas::before {
    content: url("../img/christmas/gingerbread-man.png");
    width: 80px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 2rem;
  }

  h2,
  h1 {
    font-size: 4.5rem;
  }

  .text-style {
    font-size: 1.8rem;
  }

  .nav__container {
    &-list {
      .offer-item {
        .dropdown-list {
          left: auto;
        }
      }
    }
  }

  .main__section {
    &-container {
      &-box {
        height: 580px;
      }
      &-box:nth-of-type(2) {
        height: 620px;
      }
    }
  }

  .about__section {
    &-container {
      width: 840px;
      &-photo {
        height: 500px;
        max-width: 390px;
      }

      h3 {
        font-size: 4rem;
        letter-spacing: 0.1rem;
        text-align: left;
      }
      &-text {
        max-width: 360px;
        .text-frame {
          top: -145px;
          left: -200px;
          right: -40px;
          bottom: -145px;
        }
      }
    }
  }

  .offer__section {
    &-container {
      width: 900px;
    }
  }

  /*torty*/

  .offer__cake {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
  }

  .offer__price {
    &-container {
      &-text {
        width: 40%;
        margin-bottom: 0;
      }

      &-table {
        width: 40%;
        left: auto;
        transform: none;
      }

      &-box {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 730px;

        &-title {
          display: block;
          position: absolute;
          font-size: 21rem;
          font-family: "Playfair Display", serif;
          letter-spacing: 0.1em;
          color: #e4d2c9;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
          text-transform: uppercase;
        }
      }
    }
  }

  .offer__xmas {
    .offer__price-container-box-title {
      font-size: 18rem;
    }
  }

  .offer__price {
    &-right {
      flex-direction: row;
      justify-content: space-between;

      .right {
        width: 40%;
      }
    }
  }

  .offer__torts .offer__one {
    &::after,
    &::before {
      content: url("");
    }
    .cake-bg {
      display: block;
      position: absolute;
      width: 230px;
      height: auto;
      right: 8%;
      top: 9%;
      z-index: 0;
      filter: invert(62%) sepia(8%) saturate(2368%) hue-rotate(332deg)
        brightness(96%) contrast(75%);
      transform: translatey(0px);
      animation: float 4s ease-in-out infinite;
    }
  }

  .offer__price-candy {
    .offer__price-container-text {
      width: 70%;
    }
  }

  .offer__one-container-right h2 {
    font-size: 4rem;
  }

  .offer__price .handwritten {
    font-size: 4.8rem;
  }
}

@media screen and (min-width: 1500px) {
  .offer__price {
    &-container {
      &-box {
        &-title {
          font-size: 25rem;
        }
      }
    }
  }

  .main__section {
    &-container {
      max-width: 1400px;
      &-box {
        height: 625px;
        &:nth-of-type(2) {
          height: 695px;
        }
      }
    }
  }

  .offer__xmas {
    .offer__price-container-box-title {
      font-size: 20rem;
    }
  }

  .section__gallery {
    &-container {
      max-width: 1300px;
      &-box {
        a {
          width: 23%;
        }
      }
    }
  }
}
