@media screen and (min-width: 992px) {
  .main__section {
    &-container {
      &-box {
        height: 560px;
      }
      &-box:nth-of-type(2) {
        height: 590px;
      }
    }
  }

  .about__section {
    &-background {
      .frame-one {
        position: absolute;
        top: -90px;
        left: -90px;
        display: block;
        width: 200px;
        transform: rotate(135deg);
        fill: #d0a098;
      }

      .frame-two {
        position: absolute;
        bottom: -90px;
        right: -90px;
        display: block;
        width: 200px;
        fill: #d0a098;
        transform: rotate(-45deg);
      }
    }
  }

  .offer__section {
    &-container {
      width: 810px;
      &-box {
        height: 420px;
        max-width: 360px;
      }
    }
  }

  .opinion__section {
    &-container {
      flex-direction: row;
      justify-content: space-around;
      padding: 30px 60px;
      max-width: 1000px;
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0px;
    }
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 4rem;
  }

  .main__section {
    &-container {
      &-box {
        height: 580px;
      }
      &-box:nth-of-type(2) {
        height: 620px;
      }
    }
  }

  .about__section {
    &-container {
      width: 840px;
      &-photo {
        height: 500px;
        max-width: 390px;
      }

      h3 {
        font-size: 4rem;
        letter-spacing: 0.1rem;
        text-align: left;
      }
      &-text {
        max-width: 360px;
        .text-frame {
          top: -145px;
          left: -200px;
          right: -40px;
          bottom: -145px;
        }
      }
    }
  }

  .offer__section {
    &-container {
      width: 900px;
      &-box {
        height: 440px;
      }
    }
  }

  /*torty*/

  .offer__cake {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
  }
  
  .offer__price {
    &-container {
      &-text {
        width: 40%;
        margin-bottom: 0;
      }

      &-table {
        width: 40%;
        left: auto;
        transform: none;
      }

      &-box {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 730px;
      }
    }
  }

  .offer__one {
    h2 {
      font-size: 4rem;
    }
    &-right {
      flex-direction: row;
      justify-content: space-between;

      .right {
        width: 40%;
      }
    }
  }


  .offer__price-candy {
    .offer__price-container-text {
      width: 70%;
    }
  }
}
