@media screen and (min-width: 768px) {
  .handwritten {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  .nav__container {
    .flex-item {
      display: block;
      position: relative;
      top: 60px;
      font-size: 1.7rem;
      font-weight: 500;
    }

    &-list {
      .home-item {
        left: 0;
      }

      .offer-item {
        right: 0;
        width: auto;

        .dropdown-list {
          left: -63px;
        }
      }
    }

    &-menu {
      display: none;
    }
  }

  .header__logo {
    &-img {
      width: 350px;
      height: 350px;
      top: -85px;
    }
  }

  .main__section {
    &-container {
      margin-top: 130px;
      &-box {
        position: relative;
        height: 480px;

        &-text,
        &-heading {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;

          li {
            text-align: center;
            color: #fff;
            font-family: "Cormorant", serif;
            font-size: 2.3rem;
            letter-spacing: 0.1rem;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
        &-heading {
          font-size: 3rem;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 1.2;
        }
      }
      &-box:nth-of-type(2) {
        height: 500px;
      }
      // &-box:nth-of-type(1)::before,
      // &-box:nth-of-type(3)::before {
      // 	position: absolute;
      // 	content: "";
      // 	top: 25px;
      // 	left: 25px;
      // 	bottom: 25px;
      // 	right: 25px;
      // 	border: 1px solid #fff;
      // 	background-color: transparent;
      // 	z-index: 1;
      // }
    }
  }

  .main__section-box {
    top: -60px;

    .text-serif-style {
      font-size: 2.4rem;
    }
  }

  .about__section {
    padding-bottom: 50px;

    &-background {
      left: 20px;
      right: 20px;
    }

    &-container {
      position: relative;
      padding-top: 80px;
      flex-direction: row;
      justify-content: space-between;
      width: 740px;

      &-photo {
        height: 480px;
        max-width: 350px;
      }

      &-text {
        margin-top: 0;
        max-width: 330px;

        h3 {
          position: absolute;
          top: -21px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 4rem;
        }

        .text-frame {
          position: absolute;
          // border: 1px solid $main-gray;
          border-left: transparent;
          background-color: #fff;
          top: -95px;
          left: -90px;
          right: -40px;
          bottom: -95px;
          z-index: -1;
        }
      }
    }

    &-bottom {
      max-width: 700px;
      text-align: center;
      margin-top: 50px;
    }
  }

  .offer__section {
    padding-top: 70px;
    background-color: #eae5e1;
    .section-line {
      top: -90px;
    }

    margin: 40px 20px;

    &-description {
      p {
        font-family: "Schnyder", serif;
        font-weight: 600;
        font-size: 3rem;
        color: #c9886d;
        letter-spacing: 0.3rem;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &-container {
      width: 650px;

      &-box {
        .offer-text {
          width: 80%;
        }
      }
    }
  }

  .opinion__section {
    overflow: hidden;

    &-container {
      width: 85vw;
    }

    &-header {
      // img {
      //   display: block;
      //   position: absolute;
      //   transform: rotate(180deg);
      //   top: 100px;
      //   right: -15px;
      //   width: 190px;
      //   height: 190px;
      //   z-index: 100;
      // }

      .opinion-quote {
        // display: block;
        // position: absolute;
        bottom: -50%;
        left: 10%;
        width: 50px;
        height: 50px;
        fill: $dark-pink;
        z-index: 10;
      }
    }

    &-box {
      &-text {
        max-width: 600px;
        font-size: 2.4rem;
      }
    }

    .slick-prev {
      left: -40px;
    }

    .slick-next {
      right: -40px;
    }
  }

  .contact__section {
    image {
      display: none;
    }
    video {
      display: block;
    }
  }

  /*map*/

  .map__section {
    &-text {
      margin-bottom: 80px;
    }

    &-container {
      width: 90vw;
      max-width: 1000px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-left {
        align-self: flex-start;
        width: 30%;
        h3 {
          text-align: left;
        }
      }
      &-right {
        width: 70%;
        max-width: 600px;
        iframe {
          width: 100%;
          height: 300px;
        }
      }
    }
  }

  .footer {
    &__container {
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      &-top {
        order: 3;
      }

      &-text {
        font-weight: 300;
        font-size: 1rem;
      }

      &-top-link {
        margin-bottom: 0;
        cursor: pointer;
      }

      &-policy {
        order: 2;
      }

      &-copyrights {
        order: 1;
        p {
          padding-top: 0;
        }
        a {
          margin-top: 0;
          font-size: 1.1rem;
        }
      }
    }
  }

  .section__gallery {
    &-container {
      &-box {
        a {
          width: 50%;
          overflow: hidden;
        }
      }
    }
  }

  /*TORTY*/
  .offer__one {
    margin-top: 130px;

    h2 {
      max-width: 580px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    p {
      text-align: center;
    }
    &-container {
      &-right {
        p {
          text-align: justify;
        }
        .text-uppercase-style {
          text-align: center;
        }
      }
    }
  }

  table th {
    width: 160px;
  }

  /*CANDY */

  .offer__candy {
    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100px;
    }
  }
}

/*CIASTA*/

.offer__cookies {
  flex-direction: column;
}
