@font-face {
  font-family: "Quentin";
  src: url("../fonts/Quentin.otf") format("truetype"),
    url("../fonts/quentin.woff2") format("woff2"),
    url("../fonts/quentin.woff") format("woff");
}
@font-face {
  font-family: "Denmark";
  src: url("../fonts/Denmark.woff") format("woff");
}

@font-face {
  font-family: "Schnyder";
  src: url("../fonts/schnyders-demi-web.woff") format("woff");
}

@import "./colors";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Cormorant", serif;
  font-size: 1.7rem;
  line-height: 1.6;
  overflow-x: hidden;
  color: $main-gray;
}

a {
  text-decoration: none;
  color: $pure-white;
}

ul {
  list-style-type: none;
}


h2,
h1 {
  font-family: "Schnyder", serif;
  font-size: 3.3rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.2;
}

h3 {
  font-family: "Denmark";
  font-size: 3.7rem;
  font-weight: 300;
}

.button-style {
  display: block;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: $dark-brown; /*#463938*/
  // border: 1px solid $main-gray https://mycolor.space/?hex=%23F0E7DE&sub=1;
  color: $pure-white;
  // border: 1px solid #2d2d2b;
}

.text-style {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.7;
  color: #2d2d2d;
}

.text-serif-style {
  font-size: 2.9rem;
  font-family: "Schnyder";
  text-transform: none;
  font-weight: 500;
  color: #2d2d2b;
}

.text-uppercase-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  margin-bottom: 5px;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-img-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #170b067d;
}

//HEADER

header {
  z-index: 20; /* should add position fixed in JS */
}
.nav__container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px;

  &-list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    &-item:nth-of-type(3) {
      display: block;
      width: 350px;
      height: 0;
      z-index: 20;
    }
  }
  .flex-item {
    display: none;
  }

  &-menu {
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    &-mobile {
      display: none;

      li {
        position: relative;
        top: 0px;
        padding-bottom: 25px;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        color: $main-gray;
        a {
          color: $main-gray;
        }
      }

      &-social {
        display: flex;
        position: relative;
        top: 30px;

        a {
          display: block;
          position: relative;
          width: 40px;
          height: 40px;
          background-color: #c48690;
          border-radius: 50%;
          &:first-of-type {
            margin-right: 10px;
          }
        }

        svg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 25px;
          fill: $pure-white;
        }
      }
    }
    .line {
      width: 26px;
      height: 2px;
      background-color: #6c6c6c;
      margin: 5px;
    }
  }
}

.show-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__logo-img {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%);
  width: 270px;
  height: 270px;
}

.show-fixed {
  position: fixed;
}

// MAIN SECTION



.main__section-container {
  margin-top: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 1100px;
  overflow: hidden;
  &-box {
    position: relative;
    width: 33%;
    height: 200px;
    &-text,
    &-heading {
      display: none;
    }
    &:nth-of-type(2) {
      height: 230px;
    }
    &-heading {
      font-family: "Cormorant", serif;
      font-size: 2rem;
      color: #fff;
      letter-spacing: 0.1rem;
      text-align: center;
    }
  }
  &-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-img:nth-last-of-type(1) {
    animation: 8s fadeInOut linear infinite;
    // opacity: 0;
  }
}

.main__section-box {
  position: relative;
  margin-top: 30px;
  padding: 40px 20px;
  width: 85vw;
  max-width: 540px;
  background-color: #e3d6c7;
  &::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 8px;
    bottom: 8px;
    right: 8px;
    border: 1px solid #fff;
  }

  // h2 {
  //   margin-bottom: 30px;
  //   font-size: 1.8rem;
  //   letter-spacing: 0.2rem;
  //   text-align: center;
  // }

  &-text {
    text-align: center;
    max-width: 300px;
  }

  &-link {
    margin: 30px auto 0 auto;
  }
}

// ABOUT

.about__section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 30px;
  z-index: 0;

  span {
    font-weight: 700;
  }

  &-container {
    margin: 0 auto;
    padding: 0 20px;

    &-photo {
      position: relative;
      width: 80vw;
      height: 300px;
      max-width: 320px;
      z-index: 0;
      img {
        object-position: 60% 10%;
        opacity: 0.9;
        border: 3px solid $pure-white;
      }
    }

    &-heading {
      margin-bottom: 40px;
      letter-spacing: 0.1rem;
      font-weight: 300;
      text-align: center;
    }
    &-text {
      padding: 0 10px;
      margin-top: 30px;
      width: 80vw;
      max-width: 320px;
      h3 {
        text-align: center;
        margin-bottom: 10px;
      }
      p:first-of-type {
        margin-bottom: 10px;
      }

      .text-two {
        margin-top: 10px;
      }
   
    }
  }

  &-bottom {
    margin: 30px auto 30px auto;
    padding: 0 10px;
    width: 80vw;
    max-width: 320px;
    p {
      margin-bottom: 20px;
    }
    .button-style {
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
      }
  }
}

.section-line {
  position: absolute;
  top: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0.3px;
  height: 110px;
  background-color: $main-gray;
  z-index: 6;
}

//OFFER

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.offer__section {
  position: relative;
  margin: 0 10px 30px 10px;
  padding: 50px 20px;
  z-index: 0;

  &-heading {
    text-align: center;
    margin-bottom: 20px;
  }

  &-description {
    max-width: 450px;
    margin-bottom: 50px;
    margin-top: 30px;
    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      line-height: 1.7;
      font-size: 1.6rem;
      text-align: center;
      color: #855743;
    }
  }

  &-container {
    flex-wrap: wrap;
    &-box {
      position: relative;
      width: 80vw;
      max-width: 300px;
      height: 320px;
      margin-bottom: 60px;
      z-index: 0;

      img {
        position: relative;
        z-index: -1;
      }

      &-text {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        min-height: 40%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // z-index: 10;
        background: transparent;
        background-color: #ffffff94;
        p {
          position: relative;
          font-family: "Cormorant", serif;
          letter-spacing: 0.1rem;
          z-index: 10;
          text-align: center;
          color:#2d2d2b;
          font-weight: 700;
          line-height: 1.4;
          padding: 10px 20px;
          font-size: 2rem;
        }
      }

      .offer-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;
        width: 85%;
        text-align: center;
        padding: 20px;
        background-color: #6a4531;
        font-family: "Montserrat", sans-serif;
        &::after {
          content: "";
          position: absolute;
          left: 4px;
          top: 4px;
          bottom: 4px;
          right: 4px;
          border: 1px solid #fff;
        }
        p {
          font-size: 1.3rem;
          letter-spacing: 0.2rem;
          font-weight: 300;
          text-transform: uppercase;
          color: #fff;
          line-height: 1;
        }
      }
    }
  }
}

//OPINION
.opinion__section {
  padding: 20px 0 60px 0;
  background-color: #eee7e2;

  &-header {
    position: relative;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    &::after {
      position: absolute;
      content: "";
      left: 50%;
      transform: translateX(-50%);
      bottom: -30px;
      height: 1px;
      background-color: #2d2d2b;
      width: 80%;
    }

    .opinion-quote {
      display: none;
    }
  }

  &-container {
    padding: 30px 20px;
  }

  .slide-arrow {
    position: absolute;
    bottom: -30px;
    padding: 10px;
    cursor: pointer;
    border: transparent;
    background-color: transparent;
    z-index: 1;
    color: #c9886d;
  }

  &-box {
    // &-photo {
    //   width: 100px;
    //   height: 100px;
    //   margin: 0 auto;
    //   background-size: cover;
    //   background-position: center;
    //   border-radius: 50%;
    //   overflow: hidden;
    // }

    // &-img {
    //   display: block;
    // }

    &-text {
      text-align: center;
      margin: 30px auto;
      font-weight: 400;
      font-style: italic;
      font-size: 2.1rem;
      color: #c9886d;
    }

    &-signature {
      text-align: center;
    }
  }
}

.contact__section {
  background-color: $light-pink;
  height: 600px;

  &-container {
    position: relative;
    width: 100%;
    height: 100%;

    // .contact-shadow {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   z-index: 0;
    //   background-color: #170b067d;
    // }

    video {
      display: none;
    }
    &-form {
      position: absolute;
      padding: 35px;
      width: 90vw;
      max-width: 400px;

      h2 {
        margin-bottom: 20px;
        color: #fff;
        text-align: center;
      }

      p {
        width: auto;
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
        font-weight: 500;
        line-height: 1.8;
      }

      input {
        width: 250px;
        padding: 10px;
        margin-bottom: 15px;
        text-align: center;
        font-family: "Cormorant";
        text-transform: uppercase;
        &:last-of-type {
          height: 200px;
        }
      }
      button {
        display: block;
        width: 130%;
        background-color: $dark-pink;
        border: transparent;
        text-align: center;
        color: $main-gray;
        font-size: 1.3rem;
      }
    }
  }
}

/*FOOTER*/

.footer {
  padding: 15px;
  background-color: #856a5d;
  -webkit-transition: bottom 0.2s ease-in-out;
  transition: bottom 0.2s ease-in-out;

  a,
  p,
  span {
    color: #fff;
    letter-spacing: 0.2rem;
    text-decoration: none;
  }

  a:hover {
    color: #2d2d2b;
    text-decoration: none;
  }

  .to-top {
    position: relative;
    top: 5px;
    width: 20px;
    fill: white;
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__container-top-link {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 2.3rem;
  text-transform: lowercase;
  font-family: "Quentin";

  &:hover .to-top {
    fill: #2d2d2b;
  }
}

.footer__container-policy span {
  margin: 0 5px;
}

.footer__container-copyrights a {
  display: block;
  margin-top: 10px;
}

.footer__container-text {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

@import "./torty";
@import "./ciasta";

@import "./media-S";
@import "./media-M";
@import "./media-L";
